{% extends "store/base.html" %}

{% block title %}Wishlist — NOVA{% endblock %}

{% block content %}

<section class="page-header">
    <div class="container">
        <span>Your favorites</span>
        <h1>Wishlist</h1>
    </div>
</section>

<section class="products-section section">
    <div class="container">

        <div class="products-grid">

            {% for product in products %}

            <div class="product-card">

                <div class="product-image">

                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}"
                            alt="{{ product.name }}">
                    </a>

                    <button class="wishlist-btn active"
                        data-product="{{ product.id }}">

                        <i class="bi bi-heart-fill"></i>

                    </button>

                </div>

                <div class="product-info">

                    <span>
                        {{ product.category.name }}
                    </span>

                    <h5>
                        <a href="{% url 'product_detail' product.id %}">
                            {{ product.name }}
                        </a>
                    </h5>

                    <div class="product-bottom">

                        <strong>
                            ${{ product.price }}
                        </strong>

                        <button class="add-cart"
                            data-product="{{ product.id }}">
                            <i class="bi bi-plus"></i>
                        </button>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="empty-products">

                <i class="bi bi-heart"></i>

                <h4>
                    Your wishlist is empty
                </h4>

                <p>
                    Save products you like here.
                </p>

            </div>

            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}